body {
  background-color: rgb(222, 222, 222);
}

.container {
  background-color: white;
}

.li-style {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 5px;
}